body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #60696d;
}

.text_default {
	font-family: 'Anton', sans-serif;
	font-size: 3vw;
	color: #FAFAFA;
}
.text_default2 {
	font-family: 'Anton', sans-serif;
	font-size: 1vw;
	color: #FAFAFA;
}

.text_title {
	font-family: 'Bungee Shade', cursive;
	font-size: 4vw;
	color: #FAFAFA;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#status {
	position: fixed;
	top: 0%;
	left: 50%;
	margin-top: 0px;
	margin-left: -460px;

	width: 920px;
	height: 60px;
	background-color: transparent;
}

#scoreboard {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -100px;

	width: 200px;
	height: 100px;
	background-color: transparent;

	display: none;
}

.menutopleft{
   position:absolute;
	left: 20%;
	top: 1%;
  }

  .menutopRight{
	position:absolute;
	 left: 70%;
	 top: 1%;
   }

  #button{
	width: 220px;
	height: 50px;
	border: none;
	background:  rgb(126, 52, 133);
	box-shadow: 0 15px 40px -10px rgba(32, 23, 23, 0.825);
	font-weight: bold;
  }


#viewport_container {
	position: relative;
	left: 0px;
	top: 0px;
}


